.TodoTemplate {
  width: 95%;
  margin: 0.6rem auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.app-title {
  background: #22b8cf;
  color: white;
  height: 4rem;
  // TODO: Learn flex from http://flexboxfroggy.com/
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

.content {
  background: white;
}
